.results-list {
    width: 40%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #7e7d7d;
    /* border-radius: 10px; */
    margin-top: 2rem;
    max-height: 300px;
    overflow-y: auto;
    margin-left: 30%;
  }
  